

.how-it-works {
  background-color: rgb(237, 208, 134);
  padding: 40px 20px;
  text-align: center;
}

.steps {
  display: flex;
  gap: 1rem;
  justify-content: space-around; /* Space out the steps */
}

.step {
  width: 30%; /* Adjust the width of each step */
  padding: 20px;
  background-color: #e98236;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.step h3 {
  margin-top: 0;
}

.step p {
  font-size: 14px;
  color: #555555;
}
